.check-in-animate
  &.ng-enter,
  &.ng-leave
    -webkit-transition: 0.4s ease all
    transition: 0.4s ease all
    position: relative
    display: block
    overflow: hidden
    text-overflow: clip

  &.ng-enter
    opacity: 0
    left: -5rem

  &.ng-leave.ng-leave-active
    opacity: 0

  &.ng-leave,
  &.ng-enter.ng-enter-active
    opacity: 1
    left: 0

.task-animate
  &.ng-enter,
  &.ng-leave
    -webkit-transition: 0.4s ease all
    transition: 0.4s ease all
    position: relative
    display: block
    //overflow: hidden
    text-overflow: clip

  &.ng-enter
    opacity: 0
    right: -5rem

  &.ng-leave.ng-leave-active
    opacity: 0

  &.ng-leave,
  &.ng-enter.ng-enter-active
    opacity: 1
    right: 0
