@import "animations"
@import "variables"

body
  background-color: $grey

.green
  background-color: $green

.blue
  background-color: $blue

.highlight
  border-bottom-color: white
  border-bottom-width: 0.1rem
  border-bottom-style: solid

div.task
  background-color: $darker-green
  margin: 1rem
  padding-left: 1rem

  .row
    margin: 0

  .header
    position: relative
    min-height: 5rem

    div
      background-color: $green
      position: absolute
      top: 0
      left: 0
      height: 100%

      h4
        margin: 0
        color: white

    span
      position: absolute
      right: 0
      top: 0
      height: 100%

      &:before
        position: absolute
        top: 22.5%
        right: 30%

  .content
    background-color: $green

  .glyphicon
    font-size: 2.4rem
    color: white

    &:hover
      color: $lightest-green
      cursor: pointer
      transition: .1s linear

.vertical-parent:before
  content: ''
  display: inline-block
  height: 100%
  vertical-align: middle
  margin-right: -0.25rem

.vertical-centered
  display: inline-block
  vertical-align: middle