@import "variables"

body
  background: url(http://iloveyounonetheless.files.wordpress.com/2010/07/e4ba7dee-fe33-4118-bbe6-5a3d7b9342d1.jpeg) no-repeat center center fixed
  background-color: $background-color-darker-grey
  font-family: 'Source Sans Pro', sans-serif

.btn-group > .btn
  margin: 0 0.1rem

.btn
  padding-top: 0.3rem
  border-radius: 0
  border: none

  &.btn-success
    background-color: $green
    color: white

.row
  margin-left: 0
  margin-right: 0

=color($color, $darkcolor)
  .btn-group > .btn-default
    color: white
    background-color: #{$color}
    &.active
      background-color: #{$darkcolor}

  &::after
    background-color: #{$color}
    content: ''
    opacity: 0.7
    position: absolute
    z-index: -1
    left: 0
    right: 0
    top: 0
    bottom: 0

  &.active::after
    opacity: 1

div.blue
  @include color($blue, $darker-blue)

div.red
  @include color($red, $darker-red)

div.orange
  @include color($orange, $darker-orange)

div.yellow
  @include color($yellow, $darker-yellow)

div.green
  @include color($green, $darker-green)

div.task
  margin: 0.6rem 0
  box-shadow: 0px 0px 1px 0px grey
  position: relative
  color: white

  .header
    position: relative
    min-height: 5rem

    div
      position: absolute
      top: 0
      left: 0
      height: 100%

      h4
        margin: 0
        font-weight: 600

    span
      position: absolute
      right: 0
      top: 0
      height: 100%

      &:before
        position: absolute
        top: 30%
        right: 35%

  .content
    min-height: 5rem

  .glyphicon
    color: white
    top: 0.8rem

  .footer
    text-align: center
    padding: 1rem 0

  .editable-wrap,
  .editable-controls,
  .editable-input
    width: 100%

.check-in
  background: white
  border-top: 1px solid lightgrey
  margin: 0
  padding: 1rem 0
  position: relative
  min-height: 5rem

  h4
    padding: 0.8rem 0 0.7rem 0
    margin: 0

  .editable-wrap,
  .editable-controls,
  .editable-input
    width: 100%

  .reduced-content
    padding-top: 0.5rem

  .task-input
    padding-top: 0.5rem
    margin-bottom: 0.4rem
    border-bottom: 1px solid transparent
    transition: .5s linear
    &:focus
      transition: .5s linear
      border-bottom: 1px solid lightgrey

  .date
    padding: 0.5rem 1rem
    background: $blue
    color: white

  .btn-group > .btn-default
    color: lightgrey
    &.active
      background: $green
      color: white

  .repeat-by
    color: grey

  span
    white-space: pre

  .non-x-edit
    padding: 0

input[type="text"], textarea, .task-input
  border: none
  margin: 0
  padding: 0
  width: 100%

  &:focus
    box-shadow: none
    outline: none

input[type="text"], .task-input
  font-size: 1.8rem
  border-radius: 0

textarea
  border: 1px solid transparent
  border-radius: 0.3rem
  min-height: 8rem
  resize: vertical

.glyphicon
  font-size: 1.5rem
  color: grey
  padding-left: 0.6rem

  &:hover
    color: black
    cursor: pointer
    transition: .1s linear

.vertical-parent:before
  content: ''
  display: inline-block
  height: 100%
  vertical-align: middle
  margin-right: -0.25rem

.vertical-centered
  display: inline-block
  vertical-align: middle
